body {
  // --primary
  --color-primary-50: #f1f8ff;
  --color-primary-100: #e4f1ff;
  --color-primary-200: #bedcff;
  --color-primary-300: #8eb4ff;
  --color-primary-400: #4f86ff;
  --color-primary-500: #366feb;
  --color-primary-700: #104fd9;

  // --secondary
  --color-secondary-50: #fff2ed;
  --color-secondary-200: #ff9f80;
  --color-secondary-300: #fb803c;
  --color-secondary-500: #e56833;
  --color-secondary-600: #e35b47;

  // --grey
  --color-grey-50: #ececec;
  --color-grey-100: #dddddd;
  --color-grey-200: #d1d1d1;
  --color-grey-300: #b0b0b0;
  --color-grey-400: #9a9a9a;
  --color-grey-500: #878787;
  --color-grey-600: #717171;
  --color-grey-700: #646464;
  --color-grey-800: #343434;
  --color-grey-900: #999999;

  // --background
  --color-bg-light-gray: #f7f7f7;
  --color-bg-dark-gray: #f2f3f5;
  --color-bg-light-blue: #f6f8fb;
  --color-bg-dark-blue: #ecf0f6;
  --color-bg-black: #104fd9;

  // --success
  --color-success-500: #12b76a;

  // --red
  --color-red-50: #FFF0ED;
  --color-red-100: #FFD2CF;
  --color-red-300: #FF6D64;
  --color-red-500: #E35B47;
}
// ======================================
$icon-font-family: 'ms-icon';
$font-path: '/fonts/#{$icon-font-family}.ttf';
$icon-font-path: '../../public/#{$font-path}';

$ms-account_circle: '\e900';
$ms-add: '\e901';
$ms-add_circle: '\e902';
$ms-add_circle_2: '\e903';
$ms-add_folder: '\e904';
$ms-add_more: '\e905';
$ms-add_note: '\e906';
$ms-add_photo: '\e907';
$ms-add_task: '\e908';
$ms-apartment: '\e909';
$ms-arrow_back: '\e90a';
$ms-arrow_drop_down: '\e90b';
$ms-arrow_drop_up: '\e90c';
$ms-arrow_fast: '\e90d';
$ms-arrow_fast_1: '\e90e';
$ms-arrow_next: '\e90f';
$ms-assigment: '\e910';
$ms-assigment_2: '\e911';
$ms-attachment: '\e912';
$ms-block: '\e913';
$ms-bookmark: '\e914';
$ms-cached: '\e915';
$ms-calendar: '\e916';
$ms-camera: '\e917';
$ms-chat_bubble_outline: '\e918';
$ms-check_more: '\e919';
$ms-checked: '\e91a';
$ms-checked_circle: '\e91b';
$ms-checked_circle_1-path1: '\e91c';
$ms-checked_circle_1-path2: '\e91d';
$ms-chervon_down: '\e91e';
$ms-chervon_left: '\e91f';
$ms-chervon_right: '\e920';
$ms-chervon_up: '\e921';
$ms-chieu_sau: '\e922';
$ms-close: '\e923';
$ms-close_circle: '\e924';
$ms-compare: '\e925';
$ms-copy: '\e926';
$ms-copy_2: '\e927';
$ms-cursor-path1: '\e928';
$ms-cursor-path2: '\e929';
$ms-cursor-path3: '\e92a';
$ms-cursor-path4: '\e92b';
$ms-cursor-path5: '\e92c';
$ms-cursor-path6: '\e92d';
$ms-cursor-path7: '\e92e';
$ms-cursor-path8: '\e92f';
$ms-cursor-path9: '\e930';
$ms-cursor-path10: '\e931';
$ms-cursor-path11: '\e932';
$ms-delete: '\e933';
$ms-delete_2: '\e934';
$ms-direction: '\e935';
$ms-dot_small: '\e937';
$ms-dowload: '\e938';
$ms-dowload_2: '\e939';
$ms-down: '\e93a';
$ms-down_1: '\e93b';
$ms-edit: '\e93c';
$ms-edit_2: '\e93d';
$ms-email: '\e93e';
$ms-email_2: '\e93f';
$ms-exit_fullscreen: '\e940';
$ms-expand_view: '\e941';
$ms-facade: '\e942';
$ms-file: '\e943';
$ms-filter: '\e944';
$ms-flag: '\e945';
$ms-for_u: '\e946';
$ms-format_bold: '\e947';
$ms-format_indent_decrease: '\e948';
$ms-format_indent_increase: '\e949';
$ms-format_italic: '\e94a';
$ms-format_list_bulleted: '\e94b';
$ms-format_list_numbered: '\e94c';
$ms-format_underlined: '\e94d';
$ms-full_screen: '\e94e';
$ms-group_add: '\e94f';
$ms-heart_2: '\e950';
$ms-history: '\e951';
$ms-home: '\e952';
$ms-home_1: '\e953';
$ms-image: '\e954';
$ms-info: '\e955';
$ms-key: '\e956';
$ms-leave_group: '\e957';
$ms-leave_organization: '\e958';
$ms-link: '\e959';
$ms-link_1: '\e95a';
$ms-location: '\e95b';
$ms-location_1-path1: '\e95c';
$ms-location_1-path2: '\e95d';
$ms-location_city: '\e95e';
$ms-lock: '\e95f';
$ms-lock_2: '\e960';
$ms-lock_open: '\e961';
$ms-logout: '\e962';
$ms-magnify: '\e963';
$ms-menu: '\e964';
$ms-mess_list: '\e966';
$ms-messager: '\e967';
$ms-messager_2: '\e968';
$ms-mic: '\e969';
$ms-mic_1: '\e96a';
$ms-mic_off: '\e96b';
$ms-more: '\e96c';
$ms-more_horiz: '\e96d';
$ms-my_location: '\e96e';
$ms-no_file: '\e96f';
$ms-note: '\e970';
$ms-note_2: '\e971';
$ms-noti: '\e972';
$ms-noti_1: '\e973';
$ms-noti_active: '\e974';
$ms-noti_off: '\e975';
$ms-noti_paused: '\e976';
$ms-organization: '\e977';
$ms-pause: '\e978';
$ms-people: '\e979';
$ms-person: '\e97a';
$ms-person_add: '\e97b';
$ms-phone-talk: '\e97c';
$ms-phone_ringing: '\e97d';
$ms-photo_library: '\e97e';
$ms-pin: '\e97f';
$ms-pin_1: '\e980';
$ms-play: '\e981';
$ms-play_circle_filled_1: '\e982';
$ms-post_news: '\e983';
$ms-rectangle: '\e984';
$ms-reload: '\e985';
$ms-remove_circle: '\e986';
$ms-reply: '\e987';
$ms-reply_all: '\e989';
$ms-report: '\e98a';
$ms-rhombus: '\e98b';
$ms-road: '\e98c';
$ms-schedule: '\e98d';
$ms-search: '\e98e';
$ms-send: '\e98f';
$ms-settings: '\e990';
$ms-share: '\e991';
$ms-share_1: '\e992';
$ms-share-2: '\e993';
$ms-shopping_cart: '\e994';
$ms-skip_next: '\e995';
$ms-skip_perious: '\e996';
$ms-stairs: '\e998';
$ms-star_2: '\e999';
$ms-star_outline: '\e99a';
$ms-star_rate: '\e99b';
$ms-stars: '\e99c';
$ms-state: '\e99d';
$ms-strikethrough_s: '\e99e';
$ms-text_sms: '\e99f';
$ms-thumb_down: '\e9a0';
$ms-timber: '\e9a1';
$ms-up-down: '\e9a3';
$ms-up: '\e9a4';
$ms-up_1: '\e9a5';
$ms-update_time: '\e9a6';
$ms-upload: '\e9a7';
$ms-video_cam: '\e9a8';
$ms-video_cam_off: '\e9a9';
$ms-view_list: '\e9aa';
$ms-view_module: '\e9ab';
$ms-visibility_off: '\e9ac';
$ms-visibility_on: '\e9ad';
$ms-volume-on: '\e9ae';
$ms-volume_down: '\e9af';
$ms-volume_mute: '\e9b0';
$ms-volume_off: '\e9b1';
$ms-warning: '\e9b2';
$ms-watch_later: '\e9b3';
$ms-wifi: '\e9b4';
$ms-wifi_off: '\e9b5';
$ms-zoom_out: '\e9b6';
